.role-second-menu {
    border-right: 1px solid #e6e6e6;
    line-height: 45px;
    padding-right: 10px;
}

.role-third-menu {
    margin-left: 10px;
}

.layui-show .layui-row {
    border-bottom: 0px solid #efefef;
}

.role-first-menu .layui-input-inline {
    height: 45px;
}

.layui-form-checked[lay-skin=primary] i {
    border-color: #8b8b8b;
    background-color: #bbbbbb;
}

.layui-checkbox-disbaled[lay-skin=primary] span {
    color: #666666;
}
